a{
    padding: 0 10px;
    text-decoration: none;
    position: relative;
    transition: .5s all;
    z-index: 2;
    font-size: 19px;
    color: #f2f2f2;
    &:hover{
        color:#FF7300;
    }
    &:not(.active-link)::before{
        content: '';
        border: 2px solid transparent;
        position: absolute;
        width: 0;
        bottom: -23px;
        left: 0;
        transition: .5s all;
    }
    &:hover:not(.active-link)::before{
        width: 100%;
        border-color: #FF7300;
    }
}
a.active-link{
    color:#FF7300;
}