.form {
    padding: 15px 30px;
    box-sizing: border-box;
    .inputs-container{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .submit-btn{
        transition: .5s all;
        width: 250px;
        padding: 15px 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 25px;
        cursor: pointer;
        margin: 0 auto;
        font-size: 16px;
        border: none;
        border-radius: 2px;
        color: #FFFFFF;
        letter-spacing: 1.25px;
        background: #060505;
        &:not(:disabled):hover{
            background: #272424;
        }
    }
    .submit-btn:disabled{
        cursor: not-allowed;
        background: rgba(111, 111, 111, 0.45);
    }
}