#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    .btns{
        padding: 20px 35px;
        display: flex;
        background: #060505;
        justify-content: space-between;
        section{
            a, button {
                margin: 0 10px;
            }
        }
    }
    
   
}