body {
  margin: 0;
  padding: 0;
  letter-spacing: 1.1px;
  font-family: 'Roboto', 'sans-serif';
}

#root, #app{
  min-height: 100vh;
}

button{
  font-family: inherit;
  cursor: pointer;
  padding: 10px;
  &:focus{
    outline: none;
  }
}
.abs-centered{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.shadow{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
input{
  font-family: inherit;
}
input:focus{
  outline: none;
}